.admin-wrapper {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 110vh;
    background: linear-gradient(90deg, hsla(45, 100%, 88%, 1) 0%, rgb(79, 110, 156) 100%);
    background: -moz-linear-gradient(90deg, hsla(45, 100%, 88%, 1) 0%, rgb(79, 110, 156) 100%);
    background: -webkit-linear-gradient(90deg, hsla(45, 100%, 88%, 1) 0%, rgb(79, 110, 156) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#FFEFC1", endColorstr="#874F9E", GradientType=1);
    font-family: "Freeman", sans-serif;
}

.admin-container {
    display: flex;
    flex: 1;
    overflow: hidden;
}


.meeting-list {
    width: 80%;
    margin: 20px auto;
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    margin-top: 10px;
    border-collapse: collapse;
}

table,
th,
td {
    border: 1px solid #ccc;
}

th,
td {
    padding: 10px;
    text-align: left;
}

.complete-meeting {
    background: #4CAF50;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}