* {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    height: 120vh;
    background: hsla(45, 100%, 88%, 1);
    background: linear-gradient(90deg, hsla(45, 100%, 88%, 1) 0%, hsla(283, 33%, 46%, 1) 100%);
    background: -moz-linear-gradient(90deg, hsla(45, 100%, 88%, 1) 0%, hsla(283, 33%, 46%, 1) 100%);
    background: -webkit-linear-gradient(90deg, hsla(45, 100%, 88%, 1) 0%, hsla(283, 33%, 46%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#FFEFC1", endColorstr="#874F9E", GradientType=1);
}

.background-container {
    background-image: url("../img/cloud-with-ai-generated-free-png.webp");
    background-position: center;
    background-size: cover;
    height: 500px;
    width: 70%;
    left: 16%;
    position: absolute;
    top: 50%;
}

.slogan-text h1 {
    text-transform: uppercase;
    background: -webkit-linear-gradient(#eee 40%, hsla(283, 33%, 46%, 1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.slogan-text {
    font-size: 2.1rem;
    position: relative;
    top: 15%;
    padding: 15px 0;
    width: 100%;
    text-align: center;
    color: white;
}